
    /* styles.css */
    .img-responsive {
      width: 100%;
      max-width: 300px;
      height: auto;
    }
  
    @media (max-width: 768px) {
      .img-responsive {
        max-width: 200px;
      }
    }
  
    @media (max-width: 480px) {
      .img-responsive {
        max-width: 10000px;
      }
    }